$bg: #1C263C
$limegreen:  #9CFF00
$bluegrey: #364655
$montserrat: 'Montserrat', sans-serif
$opensans: 'Open Sans', sans-serif

$green-l3: #cfffb1
$green-l2: #b7ff00
$green-l1: #7eff00
$green-r: #46c34c
$green-d: #479f78
