.strip.flex-row#footbar
    #footer-item01.flex
        img#footer-logo.center(src="img/flashbuild.png", alt="Logo")
    
    #footer-item02.center
        p.txt-c A frontend development template for feather weight &amp; rapid deployment.
        p.txt-c Cooked it up @ #[a(href='http://www.adioslabs.in') #[img#foo-img(src='img/adios.svg')]]

script(src="js/main.js")
