script(src="js/main.js")

.strip.flex-row#footbar
    #footer-item01.flex
        img#footer-logo.center(src="img/flashbuild.png", alt="Logo")
    
    #footer-item02.center
        p.txt-c A frontend development template for feather weight &amp; rapid deployment.
        .small-txt.txt-c Cooked it up @ ADIOS Innovations LLP.

