head
    title Flash Build | Front-end Build in a flash.
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="description" content="Frontend Starter Template")
    meta(name="theme-color" content="#1C263C")
    link(rel="stylesheet", href="css/main.css")
    //- link(rel="shortcut icon" type="image/png" href="/favicon.png")
