doctype html
html
    include includes/header.pug
    body
        .hero.flex
            .center
                //- span
                //-     img(src="img/gulp.png", alt="logo", srcset="")
                
                .txt-huge.txt-c Flash Build
                h2.txt-c Lightning Speed Development
                p.txt-c Flash Build is for a lightning speed development automation for Frontend HTML.
                    
    include includes/footer.pug